.flex-container-img {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.img_book {
  justify-content: start;
  filter: drop-shadow(2px 3px #43CCC3);
}

.img_diploma {
  filter: drop-shadow(2px 3px #43CCC3);
}