.menu {
    border: 1px solid #2A807A;
    border-radius: 12px;
    background-color: #43CCC3;
    overflow: hidden;
}

.menu_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu_item {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    transition: 0.3s;
}

.active {
    color: white;
    background-color: #3EACC2;
}

li a:hover:not(.active).menu_item {
    background-color: #99E7F7;
}

li a:hover:not(.active).contacts {
    border: 1px solid #2A807A;
    background-color: #99E7F7;
}